{{- with site.Params.footer }}
  <footer class="Footer">
    <div class="u-wrapper">
      <div class="u-padding">
      	<hr>
      	<ul class="Tags">
      <li class="Tags-item u-background">
        <a class="Tags-link u-clickable" href="/dmca/">DMCA</a>
      </li>
      <li class="Tags-item u-background">
        <a class="Tags-link u-clickable" href="/privacy-policy/">Privacy Policy</a>
      </li>
      <li class="Tags-item u-background">
        <a class="Tags-link u-clickable" href="/contact/">Contact</a>
      </li>
      <li class="Tags-item u-background">
        <a class="Tags-link u-clickable" href="/about/">About</a>
      </li>
  </ul>
        {{- safeHTML . }}
      </div>
    </div>
  </footer>
  <script>function init(){var imgDefer=document.getElementsByTagName('img');for (var i=0; i<imgDefer.length; i++){if(imgDefer[i].getAttribute('data-src')){imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));}}}window.onload=init;</script>
{{- end }}