<link rel="preconnect" href="https://i2.wp.com">
<link rel="dns-prefetch" href="https://i2.wp.com">
<link rel="preconnect" href="https://i.pinimg.com">
<link rel="dns-prefetch" href="https://i.pinimg.com">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/favicon-16x16.png" | absURL }}">
<link rel="manifest" href="{{ "/img/site.webmanifest" | absURL }}" crossorigin="anonymous">